.background {
      background-color: rgba(252, 207, 255)
      
}

.title {
    display: block;
    border: 6px dotted;
    height: auto;
    margin: 10px;
    padding: auto;
    width: 200px;
  }
.butan {
    margin: 5px;
    padding: 2px;
    border-radius: 2px;
    border: solid rgba(37, 11, 3, 0.507) 1px;
    background: rgba(227, 215, 211, 0.507);
}
p {
    font-size: 16px;
    margin: 10px;
          }
.cat-conference {
    background:  rgba(246, 150, 255, 0.507);
}
.tagline {
    background:  rgba(246, 150, 255, 0.507);
}
.speakers {
    background: rgba(255, 0, 0, 0.507);
}
.schedule {
    background: rgba(0, 217, 255, 0.507);
}
.about {
    background: rgba(255, 0, 191, 0.507);
}
.venue {
    background: rgba(9, 182, 9, 0.507);
    