
.background {
      background-color: rgb(255, 255, 255)
      }
.title {
    display: block;
    border: 6px dotted;
    height: auto;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    width: 400px;
    margin-bottom: 15px;
    font-family: 'Spartan', sans-serif;          
}
  .smallheader {
    height: auto;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    width: 960px;
    margin-bottom: 15px;
    font-family: 'Spartan', sans-serif;    
}

.butan {
    margin: 5px;
    padding: 2px;
    border-radius: 2px;
    border: solid rgba(37, 11, 3, 0.507) 1px;
    background: rgba(227, 215, 211, 0.507);
    }
.nav {
    font-size: 16px;
    height: auto;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    width: 960px;
    font-family: 'Rokkitt', serif;
}
p {
    font-size: 16px;
    font-family: 'Rokkitt', serif;
    margin-bottom: 15px;
    height: auto;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    width: 960px;
    margin-bottom: 15px;
              }
.cat-conference {
    background:  rgba(246, 150, 255, 0.507);
    font-family: 'Spartan', sans-serif;
}
.tagline {
    background:  rgba(246, 150, 255, 0.507);
    font-family: 'Spartan', sans-serif;
}
.speakers {
    background: rgba(255, 0, 0, 0.507);
             }
.schedule {
    background: rgba(0, 217, 255, 0.507);
}
.about {
    background: rgba(255, 0, 191, 0.507);
}
.venue {
    background: rgba(9, 182, 9, 0.507);
}
.aboutimage {
    width:450px;
    height:320px;
}
img {
    float: left;
}
aside {
    float: left;
    width: 450px
}
/*
=================================
Grid
=================================
*/
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.maintitle {
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    width: 500px;
    display: block;
    border: 6px solid;
    height: auto;
    margin-bottom: 15px;
}
.pagedirectory {
    padding-left: 30px;
    padding-right: 30px;
    width: 200px;
    display: block;
    border: 6px solid;
    height: auto;
    margin-bottom: 15px;
}