
#cat-conference {
    background: pink;
}
#tagline {
    background: pink;
}
#speakers {
    background: red
}
#schedule {
    background: lightseagreen
}
#venue {
    background: green;
}
.content p{
    background: lightskyblue
    }
.content p{
    font-size: 14px
}
.btn {
    font-size: 16x;
}
.btn-registernow {
    background: red;
}
.btn-speakers {
    background: rgba(255, 0, 0, 0.507)
}
